#### Starting a local Spark Session

In [2]:
# Install PySpark locally.
! pip3 install pyspark

Requirement already satisfied: pyspark in /home/chandanshastri/.local/lib/python3.8/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/chandanshastri/.local/lib/python3.8/site-packages (from pyspark) (0.10.9.7)

In [3]:
# Import PySpark
from pyspark.sql import SparkSession

In [4]:
# Start a Spark Session locally
spark=SparkSession.builder.master("local[4]").appName("Chandan_Test").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/10/29 14:27:19 WARN Utils: Your hostname, SC-PC resolves to a loopback address: 127.0.1.1; using 172.24.241.119 instead (on interface eth0)
23/10/29 14:27:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/29 14:27:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark.version

'3.4.1'

In [6]:
! cat data/sample.csv

name,age,place
Chandan,22,India
Ranjan,26,USA
Anjana,20,Africa

In [7]:
df=spark.read.csv("data/sample.csv",inferSchema=True,header=True)

In [8]:
df.count()

3

In [9]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- place: string (nullable = true)

In [10]:
df.show(truncate=False)

+-------+---+------+
|name   |age|place |
+-------+---+------+
|Chandan|22 |India |
|Ranjan |26 |USA   |
|Anjana |20 |Africa|
+-------+---+------+

In [11]:
# Sort the data by Age
df_sort=df.sort(df.age)

In [12]:
df_sort.show(truncate=False)

+-------+---+------+
|name   |age|place |
+-------+---+------+
|Anjana |20 |Africa|
|Chandan|22 |India |
|Ranjan |26 |USA   |
+-------+---+------+

In [13]:
# Write the data back to file
df_sort.repartition(1)
df_sort.write.csv("data/sample_sorted.csv",header=True)

In [14]:
! cat data/sample_sorted.csv/*.csv

name,age,place
Anjana,20,Africa
Chandan,22,India
Ranjan,26,USA

#### Preview of Spark UI for the above Spark Session

![Alt text](images/sparkui.png)